<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/static/images/icons8-library-94.png" th:fragment="title">

</head>
<body>
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/library/home}">Library Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/library/books}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/library/authors}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/library/publishers}">Publishers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/library/categories}">Categories</a>
                </li>
            </ul>
        </div>
    </div>
</nav>






<footer class="text-center text-lg-start bg-light text-muted" th:fragment="footer">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div>
            <a href="https://www.facebook.com/nicat.rehimov.336/" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.google.com" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="https://www.instagram.com/rehjmov/" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/nicat-rahimov-ba669a249" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/NicatRahimov" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i> Rahimov library
                    </h6>
                    <p>
                        Our library management website is a digital solution that empowers libraries to efficiently organize their collections and provide a seamless experience to patrons.
                        Librarians can easily catalog and manage a wide range of materials,
                        while users can conveniently browse, borrow, and reserve items.
                        This platform enhances the overall efficiency of library operations and ensures a user-friendly experience for both staff and patrons.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a href="https://www.java.com/en/" class="text-reset">Java</a>
                    </p>
                    <p>
                        <a href="https://www.javascript.com/" class="text-reset">JavaScript</a>
                    </p>
                    <p>
                        <a href="https://www.python.org/" class="text-reset">Python</a>
                    </p>
                    <p>
                        <a href="https://dotnet.microsoft.com/en-us/learn/dotnet/what-is-dotnet" class="text-reset">C# .net</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Baku , AZ 1034, Azerbaijan</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        nijatrahimov9@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 994 70 375 91 92</p>
                    <p><i class="fas fa-print me-3"></i> + 994 10 724 91 92</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://www.millikitabxana.az/">Milli Kitabxana</a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>